{{ define "partials/meta" }}
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ app_name }}</title>

  <link rel="shortcut icon" href="/assets/images/logo.png" type="image/x-icon">
{{ end }}
