{{ define "pages/index.tmpl" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    {{ template "partials/meta" }}
    {{ template "partials/styles" }}
  </head>

  <body>
    <main>
      {{ range $file := .Collection }}
        <p>{{ $file.Path }}</p>
      {{ end }}
    </main>
  </body>
</html>
{{ end }}
