{{ define "pages/index.tmpl" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    {{ template "partials/meta" }}
    {{ template "partials/styles" }}
  </head>

  <body>
    <main>
      <p>Loaded {{ len .Tracks }} tracks.</p>
      <p>Defaulting to {{ .DefaultTrack.Tag.Title }}</p>
    </main>
  </body>
</html>
{{ end }}
