/* globals */

:root {
  font-size: 18px;

  --ff: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

  --black: #131313;
  --black-faded: rgba(13, 13, 13, 0.8);
  --black-faded-most: rgba(13, 13, 13, 0.3);
  --gray: #eee;
  --pink: #ff6188;
  --blue: #78dce8;
  --purple: #ab9df2;
  --white: #fff;

	--background: #2c292d;
}

/* css reset */

html {
  box-sizing: border-box;
  font-size: var(--font-size);
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

html, body {
	height: 100%;
	background-color: var(--purple);
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

input, button, textarea, select {
  font: inherit;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  border: 0;
  display: flex;
  align-items: center;
  background: none;
  cursor: pointer;
}

/* app css */

.player-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.player {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 5px;
  background: var(--white);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-family: var(--ff);
  color: var(--black);
}

.player > .album {
  max-height: 240px;
  height: 100%;
  border-radius: 4px;
}

.player > .tracker {
  display: flex;
  align-items: center;
  width: 100%;
}

.player > .tracker > span {
  font-size: .7rem;
  color: var(--black-faded);
}

.player > .tracker > input {
  margin: 0 1rem;
  width: 100%;
}

.player > .info {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.player > .info > h1 {
  font-size: 1rem;
}

.player > .info > .now_playing {
  font-size: .75rem;
}

.player > .controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.player > .controls img:hover,
.player > .controls svg:hover {
  filter: invert(0.4) sepia(1) saturate(1) hue-rotate(234deg) brightness(1);
}
