/* globals */

:root {
  font-size: 18px;

  --ff: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

  --black: #131313;
  --white: #fff;

  --faded: rgba(13, 13, 13, 0.8);
  --faded-most: rgba(13, 13, 13, 0.05);

  --primary: #648ba3;
}

/* css reset */

html {
  box-sizing: border-box;
  font-size: var(--font-size);
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

html, body {
	height: 100%;
	background-color: var(--primary);
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

input, button, textarea, select {
  font: inherit;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  border: 0;
  display: flex;
  align-items: center;
  background: none;
  cursor: pointer;
}

/* app css */

.player-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.player {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 5px;
  background: var(--white);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-family: var(--ff);
  color: var(--black);
}

.player > .album {
  max-height: 240px;
  height: auto;
  border-radius: 4px;
}

.player > .tracker {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  width: 100%;
}

.player > .tracker > span {
  font-size: .7rem;
  color: var(--faded);
}

.player > .tracker > input {
  margin: 0 1rem;
  width: 100%;
}

.player > .info {
  margin-top: .5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.player > .info > h1 {
  font-size: 1.25rem;
}

.player > .info > .now_playing {
  font-size: .75rem;
}

.player > .controls {
  margin-top: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player > .controls > .play {
  margin: 0 .5rem;
}

.player > .controls > .prev {
  margin-left: 1rem;
}

.player > .controls > .next {
  margin-right: 1rem;
}

.player > .controls label {
  display: flex;
}

.control {
  fill: red !important;
}

.player > .controls svg {
  width: 14px;
  height: 14px;
}

.player > .controls .prev > svg,
.player > .controls .next > svg {
  width: 25px;
  height: 25px;
}

.player > .controls svg:hover,
.player > .controls img:hover {
  cursor: pointer;
  transition: all 250ms ease;
}

.player > .controls > input[type="checkbox"] {
  display: none;
}

.player > .controls > input[type="checkbox"]:checked + label > svg {
  fill: var(--primary) !important;
}

.player > .playlist {
  margin-top: 1rem;
}

.player > .playlist > ol {
  max-height: 150px;
  overflow: auto;
  padding: .5rem;
  border: 1px solid var(--primary);
  border-radius: 4px;
  font-size: .75rem;
}

.player > .playlist > ol .artist {
  margin-right: 1rem;
}

.player > .playlist > ol > li {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.player > .playlist > ol > li:hover {
  font-weight: 600;
  background-color: var(--faded-most);
}

.player > .playlist > ol .active {
  color: var(--primary);
  font-weight: 600;
}

@media(max-width: 640px) {
  .player-container {
    align-items: initial;
    justify-content: initial;
  }

  .player {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: .5rem;
  border-radius: 4px;
  background: var(--faded-most);
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  border: 1px solid var(--primary);
  border-radius: 50%;
  background: var(--white);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid var(--primary);
  background: var(--white);
  cursor: pointer;
}

.slider::-moz-range-progress {
  background: var(--primary);
  border-radius: 4px 0 0 4px;
  height: .5rem;
}
