/* globals */

:root {
  font-size: 18px;

  --ff: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

  --black: #131313;
  --gray: #eee;
  --pink: #d32b74;
  --pink-darker: #c31b64;
  --pink-darkest: #a30b54;
}

/* css reset */

html {
  box-sizing: border-box;
  font-size: var(--font-size);
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

html, body {
	height: 100%;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

input, button, textarea, select {
  font: inherit;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* app css */

html,
body {
  font-family: var(--ff);
  font-size: 100%;
  color: var(--black);
  vertical-align: baseline;
}

body > main {
  max-width: 1280px;
  margin: 0 auto;
  line-height: 1;
  display: block;
}

hr {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  background: var(--gray);
  margin-bottom: 1rem;
  height: 1px;
}

ol {
  max-height: 300px;
  overflow: auto;
  width: max-content;
  border: 1px solid #666;
}

ol > li:hover {
  background-color: #cbcbcb !important;
}

ol > li:nth-child(odd) {
  background-color: #ebebeb;
}

ol > li.active {
  background-color: cornflowerblue !important;
}
